[user]
	name = Injamul Mohammad Mollah
	email = mrinjamul@gmail.com
	signingkey = C2C4311DA84D35EE11D279D1D6CD597F29ADABE3
[color]
	ui = true
	status = auto
	branch = auto
[cola]
	spellcheck = false
[core]
	excludesfile = /home/injamul/.gitignore
